*{
 margin: 0;
 padding: 0;
box-sizing: border-box;

}
    html{
    font-weight: 300;
    font-family: 'lato','Arial',sans-serif;
    font-size: 20px;
/*    color: #f0e7e7;*/
    text-rendering: optimizeLegibility;
}

ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    
}
.navigation{
    display: flex;
    padding: 35px;
    text-align: center;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    margin: auto;
    position:sticky;
    
}
.menu{
   display: flex;
    padding-top: 15px;
    justify-content: center;
    font-weight: 600
}

.menu li a{
    padding: 3px 8px;
    width: 100%;
    margin: 0px 15px;
    color: #6f6868;
/*    transition: all ease  0.3s;*/
    letter-spacing: 0.5px;
/*    font-size:px;*/
    
}
.logo{
    font-size: 1.4rem;
    font-weight: 200;
    color: #202020;
    letter-spacing: 3px;
    
}
.logo span{
    color: orange;
    text-shadow: 1px 2px  grey;
    font-size: 39px;
}
.right-nav{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto;
    padding-top:10px 
}
.right-nav a{
    display: flex;
    width: 40px;
    justify-content: center;
    text-align: center;
    height: 40px;
    border-radius: 50%;
    background-color:#202020;
/*    position: relative;*/
}

.right-nav .like{
    background-color:#fff0ee;
    color: #ff6c56;
    padding-top: 9px;
/*        margin-left: px*/

}
.right-nav .like:hover,
.right-nav .Cart:hover{
color: orange;
font-weight:700;
font-size: 20px;
}

.right-nav .Cart{
    background-color:#c3beb8;
    color:#4eb060;
    padding-top: 9px;
}

. right-nav a span{
/*    position: absolute;*/
    justify-content: center;
    display: flex;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight:500;
    background-color: #202020;
}

.right-nav .like span{
background-color:#fff0ee;
    position:relative;
    top:-9px;
    right: -1px;
}

.right-nav .Cart span{
      background-color:#c3beb8;
     position:relative;
    top:-9px;
    right: -1px;
}
.menu li a:hover{
    color:orange;
/*    transition:all ease 0.3s;*/
    border: 2px solid #303030;
    box-shadow: 2px 2px #202020;
    border-radius: 20px;
}

.section-banner{
    height:500px;
    max-width: 95%;
    border-radius: 35px;
    margin: 10px auto;
    position:relative;
    overflow:hidden;
    background: orange url(drydal.jpeg) no-repeat right  bottom ;
    background-size:900px;
    box-shadow: 2px 2px black;
    opacity: 0.9;
}

.bg2{
    position:relative;
    left: 9.15%;
    top:80%;
    object-fit: contain;
/*    object-position: enter;*/
    transform: translateX(-60%);
    height: 150px;
    width: 275px;
}
.section-banner-text{
    color: #202020;
    display: flex;
    flex-direction:column;
    width: 500px;
    margin-left: -6%;
    position: relative;
    opacity: 0.9;
/*    text-align: center;*/
    position: absolute;
     top:21%;
     left: 3%;
    
}
.section-banner-text h1{
    font-size: 2rem;
    color: #202020;
/*    line-height: 10px;*/
    margin-left: 21%;
    
}
.section-banner-text strong{
    color: orange;
    margin-top: -18px;
    font-size: 1.4rem;
    margin-left: 21%;
        font-weight: 900;
    text-shadow: 1px 1px #303030
}

.search-box{
/*      background-color:;*/
    align-items: center;
    height: 50px;
    display: flex;
    margin-top: 25px;
    padding: 0 5px 0 20px;
/*    border-radius:0px;*/
    margin-left: 17%;
     
    
}

.search-box i{
    font-size: 1.45rem;
    color: #3b3b3e;
    margin:4px;
    align-items: center;
}

.search-box .search-input{
     padding: 0 5px 0 20px;
    height: 40px;
    outline: none;
    border: 1px solid #303030;
    border-radius: 30px;
    width: 100%;
    font-size:18px
    
}
.search-box .search-btn{
    border-radius: 30px;
    width:38%;
    height: 40px;
    background-color:#202020;
    color:#ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all ease 0.3s;
    margin: 3px;
}
.search-box .search-btn:hover{
/*    background-color: rgb(77, 201, 100);*/background-color:#d3870e;
    transition: all ease 0.3s;
}

#categroy,#partner
#popular-product,
#popular-bundle-pack{
    display: flex;
    flex-direction: column;
/*    max-width: 100%;*/
    margin:50px 95px;
    max-width: 100%;
/*    align-items: center*/
}

.categroy-head,
.product-heading,
.partner-heading
{
    display: flex;
/*    flex-direction: row;*/
    align-items:center;
    justify-content: space-between;
    margin: 2px;

}
.categroy-head h2,
.product-heading h3,
.partner-heading h3
{
  display: flex;
    letter-spacing: 0.5px;
    font-size: 1.56rem;
    font-weight: 700;
    
    
}
.categroy-head span,
.product-heading span {
   color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.categroy-container{
    display: grid;
/*    display:flex
    */
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-gap: 20px;
/*    justify-content: space-around;*/
    margin-top:25px;
/*    align-content: space-around;
    align-content:space-around*/

    
}
.categroy-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 160px;
    justify-content:space-around;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.3);
    width: 120px;
/*    margin-left: 0px*/
/*    margin-top: 20px;*/
/*    box-sizing: content-box;*/
/*    opacity: ;*/
    box-shadow: 3px  2px 3px #202020;
    border-style: none
}

 .categroy-box img{
   height: 85px;
     width: 114px;
     object-fit: contain;
     object-position: center;
/*     float: left;*/
     border-radius: 40px;
     transition:all ease  0.2s;
}
.categroy-box span{
    color: #393939;
    font-size: .89rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}
.categroy-box span:hover{
    text-shadow: 1px  1px #404040
}


.categroy-box:hover{
    transition:all ease 0.1s;
    transform: scale(1.1);
/*    color:#202020;*/
    box-shadow: 2px 2px orange;
}

#popular-product{
/*
    margin: 80px auto;
    background-color:#ecf7ee;
    max-width: 1140px;
    border-radius: 10px;
*/
/*    justify-content: center;*/
     display: flex;
/*    align-items: center;*/
    max-width: 1150px;
    background-color: #ecf7ee;
    justify-content: center;
    letter-spacing: 1px;
    padding: 60px  20px ;
    margin-left: 98px;
    border-radius: 2%;
    flex-direction: column;
    margin-left: 208px;
    
}
.product-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:50px;
    margin-left:  7px
            

    
    
}
.product-box{
    width:100%;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding 20px;
    border-radius: 30px;    
    display: flex;
    flex-direction: column; 
    position: relative;
/*    border-width: thick*/
/*    margin-left: 45px*/
   
}
.product-box img{
    width:100%;
    height: 180px;
    object-fit: contain;
    
}
.product-box strong{
color: #303030;
font-size: 20px;
letter-spacing: 1px;
font-weight: 700;
 margin-top: 10px;
 }
.product-box .quantity{
color:#959595;
font-size: 0.8rem;
font-weight: 500;
letter-spacing: 1px;
}

.product-box .price{
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color:#393939;
    
}

.product-box .cart-btn{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color:orange;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.2s; 
}
.product-box .cart-btn i{
    margin-right: 10px;
}

.product-box .cart-btn:hover{
    background-color: #202020;
    color:lemonchiffon;
    transition: all ease 0.2s;
}
.product-box .like-btn{
    position: absolute;
    right: 30px;
    top:20px;
    color:#c9c9c9;
    font-size: 1.4rem;
    
}
.product-box .like-btn:hover{
color:red;}

#popular-bundle-pack{
    display: flex;
    align-items: center;
    max-width: 1150px;
    background-color: #ecf7ee;
    justify-content: center;
    letter-spacing: 1px;
    padding: 60px  20px ;
/*    margin: 50px auto;*/
    border-radius: 2%;
/*    border: 1px solid red;*/
    flex-direction: column;
    margin-left: 208px;
}
.product-container,
.product-headng{
    max-width: 1000px;
    width: 100%;
}
.product-heading{
  margin-left: 5%
}
.product-heading span{
margin-right: 6%;}

#clients
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    background-color: #f6f6f6;
    padding: 80px 0px;
    margin: 40px 0px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.clients-heading h3{
    font-size: 1.56rem;
    color: #202020;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.clients-box-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    width: 90%;
    margin-top: 40px;
    
     
}
.client-box{
background-color: #ffffff;
    padding: 30px 5px;
    border: 1px solid #f1f1f1;
    box-shadow: 2px 2px 50px #202020;
    border-radius: 0px 30px 0px 30px;
}

.client-profile{
display: flex;
align-items: center;
}
.clients-profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    
}
.profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}
.profile-text strong{
    color: #303030;
    font-size: 1rem;
    font-weight: 600
        ;
    
}
.profile-text span{
    color: #949494;
    font-weight: 500;
    font-size: 0.9rem
}
.rating{
display: flex;
    margin: 10px 0px;
 }
.rating i{
    color: #fdcc0d;
}
.client-box p{
color:#7c7c7c;
}



#partner{
    margin:50px auto;
    
}
.partner-heading{
margin-left: 40%;
}

.logo-partner{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.logo-partner img{
    height: 55px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: 0.3;
    transform: all ease 0.3s;
    width: 20%;
}
.logo-partner img:hover{
    filter: grayscale(0);
    opacity: 1;
    transform: all ease 0.3s;
}


#download{
/*    max-widtxh: 1150px;*/
    width: 100%;
    background-color: #ecf7ee;
/*    heigt: 400px;*/
/*    margin: 225px auto;*/
    border-radius: 20px;
    padding:20px;
    display: flex;
/*    flex-direction: column;*/
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap
}
.app-img{
    width:275px;
/*    height:550px ;*/
    background-color: #ffffff;
    border: 3px solid #393939;
    border-radius: 11%;
    overflow: hidden;
/*    margin-right: 40% */
    
    
}

.app-img img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: top center;
}  
.download-text{
max-width: 400px;
    
    
}
.download-text stong{
color: #393939;
font-size: 1.54rem;
}

.download-text p{
    color: #303030;
    margin: 15px 0px;
}
footer{
    background-color: #1b1b1b;
    padding: 5px 20px;
    border-top: 5px solid orange ;
    
}
.footer-container{
    max-width:1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}
.footer-logo{
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo a{
    color:#ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    
}
.footer-logo a span{
color: orange;
    text-shadow: 1px 2px  grey;
    font-size: 39px;
}

.social-icon{

margin-top: 10px;
    align-items:center;
     display:flex;
    flex-direction:row;
    justify-content:center;
    letter-spacing: 1px;
    
}
    

.social-icon a{
    width:40px;
    height:40px;
    color: #ffffff;
    border: 1px solid #202022;
    font-size:1.2rem;
    margin: 2px 4px 4px 5px;
}
.social-icon a:hover{
background-color: darkorange;
transition: all ease 0.3s;
    border-style: none;

}
.footer-links strong{
    color:#ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-links ul{
  margin-top: 10px;
    text-decoration: none;
}
.footer-links ul li a{
color: #ffffff;
opacity: 0.5;
    letter-spacing: 2px;
    margin: 4px 0px;
    font-size: .9rem;
    transition: all ease 0.3s;
}
.footer-links  li a:hover{
transition: all ease 0.3s; 
    opacity: 1;}



/***********************************making responsive**************************************/


 